---
import type { MarkdownLayoutProps } from 'astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Tag from '@/components/Tag.astro';
import type { MarkdownBlogPost } from '@/scripts/types.ts';
import { aggregateTags } from '@/scripts/tag';

type Props = MarkdownLayoutProps<MarkdownBlogPost>;
const { frontmatter } = Astro.props;

const tags = aggregateTags([frontmatter.tags]);
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>投稿日: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  {
    frontmatter.image && (
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
    )
  }

  <div class="tags">
    {tags.map((tag) => <Tag tag={tag} />)}
  </div>

  <slot />

  {
    frontmatter.updatedAt && (
      <p>※{frontmatter.updatedAt.toString().slice(0, 10)} に更新しました。</p>
    )
  }
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
</style>
