---
import type { MarkdownLayoutProps } from 'astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import type { MarkdownBlogPost } from '@/scripts/types.ts';
import { aggregateTags } from '@/scripts/tag';

type Props = MarkdownLayoutProps<MarkdownBlogPost>;
const { frontmatter } = Astro.props;

const tags = aggregateTags([frontmatter.tags]);
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>投稿日: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  {
    frontmatter.image && (
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
    )
  }

  <div class="tags">
    {
      tags.map((tag) => (
        <a class="tag-link" href={`/tags/${tag.tag}`}>
          <p class="tag">
            <i class="fa fa-tags" />
            <span class="tag-text">{tag.tag}</span>
            <span class="tag-count">{tag.count}</span>
          </p>
        </a>
      ))
    }
  </div>

  <slot />

  {
    frontmatter.updatedAt && (
      <p>※{frontmatter.updatedAt.toString().slice(0, 10)} に更新しました。</p>
    )
  }
</BaseLayout>

<style>
  .tag-link,
  .tag-link:visited {
    text-decoration: none;
    color: inherit;

    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;

    transition:
      border 0.2s,
      background-color 0.2s,
      transform 0.2s;
  }

  .tag-link:hover {
    border: solid 1px #00539f;
    background-color: #e2e8f0;
    transform: translateY(-0.1em);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    padding: 0 0;
    margin: 0 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .tag-text {
    color: #00539f;
  }
  .tag-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    height: 1.5rem;
    padding: 0 0.5rem;
    background-color: #eeeeee;
    border-radius: 9999px;
    font-size: 0.75rem;
  }
</style>
