---
import type { MarkdownLayoutProps } from 'astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import TagsGroup from '@/components/TagsGroup.astro';
import type { MarkdownBlogPost } from '@/scripts/types.ts';
import { aggregateTags } from '@/scripts/tag';

type Props = MarkdownLayoutProps<MarkdownBlogPost>;
const { frontmatter } = Astro.props;

const tags = aggregateTags([frontmatter.tags]);
---

<BaseLayout pageTitle={frontmatter.title}>
  <article class="mx-auto max-w-prose">
    <p class="mb-4 text-gray-600">
      <span class="mr-4"
        >投稿日: {frontmatter.pubDate.toString().slice(0, 10)}</span
      >
      {
        frontmatter.updatedAt && (
          <span class="flex items-center text-gray-500">
            <i class="fas fa-sync mr-2" />
            {frontmatter.updatedAt.toString().slice(0, 10)}
          </span>
        )
      }
    </p>
    <p class="mb-4 text-gray-700 italic">{frontmatter.description}</p>
    {
      frontmatter.image && (
        <img
          class="mb-4 h-auto w-72"
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
        />
      )
    }

    <TagsGroup tags={tags} hideCount={true} />

    <slot />
  </article>
</BaseLayout>
